%% == Core ==
%% Additional library directories to add to the code path
{lib_dirs, []}.

%% Erlang compiler options
% {erl_opts, [ {parse_transform, lager_transform}]}.

%% == EUnit ==

%% == Dependencies ==

%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, "deps"}.
{deps, [
        {'lager', ".*",  { git, "git://github.com/basho/lager.git", "master" } },
        {'espec', ".*",  { git, "git://github.com/lucaspiller/espec.git", "master"} }
        % {'rebar_plugins', ".*", { git, "git://github.com/jacktang/rebar_plugins.git", "master"} }
]}.

%% == xref ==

{xref_warnings, true}.

%% CMD: rebar clean 
{clean_files, ["ebin"]}.

%% == plugins ==
{plugin_dir, "../rebar_plugins"}.
{plugins, [espec_plugin]}.

%% == espec ==
{esepc, [{dir, "sepc"}]}.

%% == workflow ==
{workflow, [
            {default, compile},
            {rebar_bin, "./rebar"},
            {compile, [echo,
                       clean,
                       'get-deps',
                       compile,
                       espec]},
            {echo, [{cmd, "echo 'hello'"}] }
]}. 
